<h1>Cab Finder</h1>
<h2>Here are the nearest cabs to you by number:</h2>
<h4>If you'd like to manually type in your address, please click <a id="here" href="">here</a></h4>
<form action="" class="manual_address">
  <input type="text" placeholder="Where are you?">
  <input type="submit">
</form>

<div>
  <div id="map"></div>
</div>
