<h1>NYC Taxi Finder</h1>
<h2>If you leave right now, these are the best places within 0.2 miles to find a taxi...</h2>
<h4>If you'd like to manually type in an address, please click <a id="here" href="">here</a></h4>
<form action="" class="manual_address">
  <input type="text" placeholder="Where are you?">
  <input type="submit">
</form>

<div>
  <div id="map"></div>
</div>
